@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  &:focus,
  &:hover,
  &:visited {
    outline: none !important;
    outline: 0 !important;
    appearance: none !important;
    -webkit-appearance: none !important;
    -webkit-tap-highlight-color: transparent;
  }
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
}

.container {
  max-width: 1300px;
  padding: 0 5rem;
  margin: 0 auto;

  @include responsive_max(991px) {
    padding: 0 2rem;
  }
}
