:root {
  --color-yellow-pri: #ffd15c;

  --color-header-bg: #ffd15c2d;
  --color-header-text-pri: #ffd15c;
  --color-header-text-sec: #24292e;

  --color-footer-bg: #24292e;
  --color-footer-text-pri: #fff;
  --color-footer-text-sec: #586069;
}

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9);
