.header {
  background-color: var(--color-header-bg);

  &-inner {
    @include flex(center, space-between);
  }

  &-logo > a {
    color: var(--color-header-text-pri);
    font-size: 4rem;
    font-weight: 700;

    @include flex(center);

    img {
      width: 10rem;
    }
  }

  &-link {
    @include responsive_max(575px) {
      display: none;
      transition: all 150ms linear;

      &.show-menu {
        transition: all 150ms linear;
        display: block;
        position: fixed;
        background-color: #24292e;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 10;
        overflow: hidden;

        .header-link-wrap {
          width: 100%;
          height: 100%;

          @include flex(center, center);
          flex-direction: column;
        }

        .header-link-item {
          margin-left: 0 !important;

          &:not(&:last-child) {
            margin-bottom: 2.5rem;
          }

          a {
            color: #fff;
            font-size: 3.5rem;
            font-weight: 600;
            letter-spacing: 0.8px;

            &:hover {
              color: var(--color-header-text-pri);
            }
          }
        }
      }
    }

    &-wrap {
      @include flex(center);
    }

    &-item {
      &:not(&:first-child) {
        margin-left: 2rem;
      }

      a {
        color: var(--color-header-text-sec);
        font-size: 2rem;
        font-weight: 500;
        transition: color 150ms ease;

        &:hover {
          color: var(--color-header-text-pri);
        }
      }
    }
  }

  #toggle-menu {
    display: none;

    @include responsive_max(575px) {
      display: block;
      border: 0;
      color: #24292e;
      transition: opacity 150ms ease;

      &:hover {
        opacity: 0.8;
      }

      .anticon > svg {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
